@charset "UTF-8";

/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* BODY AREA (GRID) */
body {
    width: 100%;
    height: 100dvh;
}

.container {
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template: 2fr .8fr 8fr .8fr/ 2fr 0.4fr;
    place-items: stretch;
    place-content: stretch;
}

/* HEADER AREA */
header {
    background-color: lightblue;
    grid-area: 1/1 / 2/-1;
    display: flex;
    justify-content: center;
    align-items: start;
}

/* nav area */
nav {
    background-color: lightcoral;
    grid-area: 2/1 / 3/-1;
    display: flex;
    justify-content: start;
    align-items: end;
}

/* MAIN AREA */
main {
    background-color: lightgreen;
    grid-area: 3/1 / -2/-2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* aside area */
aside {
    background-color: lightyellow;
    grid-area: 3/-2 / -2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER AREA */
footer {
    background-color: darkgray;
    grid-area: -2/1 / -1/-1;
    display: flex;
    justify-content: start;
    align-items: end;
}